html, body {
    padding: 0;
    margin: 0;
    min-height: 100%;
    width: 100%;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

/* @media only screen and (max-width: 600px) {
    html, body {
        font-size: 12px;
    }
} */

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh; */
    
    padding-left: 10vw;
    padding-right: 10vw;
    
    padding-top: 4rem;
    padding-bottom: 4rem;
}

#container div {
    display: flex;
    justify-content: center;
    padding-top: 1vh;
    padding-bottom: 1vh; 
}

#container > div {

    flex-direction: column;
}

h1 {
    font-size: 4rem;
    margin: 0.5rem;
    letter-spacing: 0.2rem;
    text-align: center;
    /* padding: 0.5rem; */
}

h2 {
    margin: 0.5rem;
    /* font-weight: 600; */
    text-align: center;
    
    color: grey;
    font-size: 1.2rem;
}

h3 {
    
    margin: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: #cccccc;
}

p {
    margin: 0;
    margin-top: 1rem;
    text-align: center;
    line-height: 1.4rem;
}

#description {
    max-width: 600px;
}

a {
    color: black;
}

.table {
    display: table !important;
    border-spacing: 1vw;
}

.table div {
    display: table-row !important;
}

.table div * {
    display: table-cell !important;
    /* padding-right: 2vw; */
}

 
#generate {
    margin-top: 3vh;
    text-decoration: none;
    background-color: white;
    border: black 1px solid;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    opacity: 1;
    font-size: 1.2rem;
    font-family: 'Merriweather', serif;
}

#generate:hover {
    background-color: lightgray;
    opacity: 0.75;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
        letter-spacing: 0.1rem;
    }
}
